<h1>{{title}}</h1>
<form class="" action="/create" method="post">
  <input type="text" name="name" value="" placeholder="tea name">
  <input type="text" name="type" value="" placeholder="tea type">
  <label for="caffine">yes
  <input type="radio" name="caffine" value="true">
  <input type="radio" name="caffine" value="false">
  no</label>
  <button type="submit">Add tea</button>
</form>
