<h1>{{title}}</h1>
<form class="" action="/{{tea.id}}/edit" method="post">
  <input type="text" name="name" value="{{tea.name}}" placeholder="tea name">
  <input type="text" name="type" value="{{tea.type}}" placeholder="tea type">
  <label for="caffine">yes
  <input type="radio" name="caffine" value="true">
  <input type="radio" name="caffine" value="false">
  no</label>
  <button type="submit">Edit tea</button>
</form>
